# SMTP Configuration
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=info@kliksy.si
SMTP_PASS=

# Cebelca BIZ API
# 1. Odprite www.cebelca.biz
# 2. Nastavitve (ikona zgoraj ali meni na levi) -> Nastavitve / Uporabniki -> API dostop
# 3. Kopirajte celoten API ključ sem
CEBELCA_API_KEY=