# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare binary files so Git doesn't corrupt them by modifying line endings
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.svg text
